.subtitle{
    font-weight: bold;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sesion{
    border-bottom: solid 2px #58D68D;
    padding-bottom: 8px;
}

.boton{
    background-color: #58D68D;
}
